<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>
    <div class="login-content">
      <h1>Account Management</h1>
      <% if (messages && messages.length) { %>
      <div><%= messages %></div>
      <% } %>
      <h2>You're logged in!</h2>
    </div>
  </body>
</html>
