<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>
    <div class="login-content">
      <h1>Account Management</h1>
      <% if (messages && messages.length) { %>
      <div><%= messages %></div>
      <% } %>
      <p id="logged-in-msg">You're logged in.</p>
      <a id="edit-account" href="/account/update/<%= accountData.account_id %>"
        >Edit Account Information</a
      >
    </div>
  </body>
</html>
