<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="register-content">
      <h1><%= title %></h1>

      <% if (messages && messages.length > 0) { %>
      <div class="flash-messages">
        <% messages.forEach(function(msg) { %>
        <p><%= msg %></p>
        <% }) %>
      </div>
      <% } %>

      <form action="/account/register" method="post">
        <label for="account_firstname"
          >First Name <span class="star">*</span></label
        >
        <input
          type="text"
          id="account_firstname"
          name="account_firstname"
          required
        />

        <label for="account_lastname"
          >Last Name <span class="star">*</span></label
        >
        <input
          type="text"
          id="account_lastname"
          name="account_lastname"
          required
        />

        <label for="account_email">Email <span class="star">*</span></label>
        <input type="email" id="account_email" name="account_email" required />

        <label for="account_password"
          >Password <span class="star">*</span></label
        >
        <input
          type="password"
          id="account_password"
          name="account_password"
          required
        />

        <small>
          Password must be at least 12 characters and include at least 1 capital
          letter, 1 number, and 1 special character.
        </small>

        <button type="submit">Register</button>
      </form>
    </div>
  </body>
</html>
