<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- Flash Message -->
<% if (message) { %>
<p class="message"><%= message %></p>
<% } %>

<!-- HTML -->
<a href="/inv/add-classification">Add New Classification</a><br />
<a href="/inv/add-inventory">Add New Inventory</a>
